.slidecontainer {
    display: inline-block;
    margin-right: 10px;
}
.slidecontainer>h4 {
    margin: 0;
}
.slidecontainer>input {
    width: 7vw;
}

h3 {
    margin-bottom: 5px;
}

.slider-text {
    margin: 0;
}